<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guide list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Добавить устройства оповещения</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'guide' %}">Список устройств</a>
    </nav>
</div>

<div class="container">
    <form method="post">
        {% csrf_token %}
        Укажите тип устройства: {{ form.type }} <br>
        Укажите адрес устройства: {{ form.adress }} <br>
        Укажите координаты ширни: {{ form.latitude }} <br>
        Укажите координаты долготы: {{ form.longitude }} <br>
        Укажите радиус зоны звукопокрытия: {{ form.radius }} <br>

        <button type="submit" class="btn btn-success">Добавить</button>
        <span>{{ error }}</span>
    </form>
</div>
</body>
</html>